@charset "ISO-8859-1";
body{
  	background-image: url('Veh.jpg');
  	background-repeat:no-repeat;
  	background-attachment:fixed;
    background-color:aliceblue;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.login-page{
    
  width: 600px;
  padding:10% 0 0 ;
  margin-left: 55%;
  position:fixed;
  opacity:0.9;  
}

.form{
	
	margin-top:-20%;
    position: relative;
    z-index: 1;
    background:rgba(0,0,0,0.5) !important;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    color: white;
    
}

.form input{


    font-family: "Roboto",sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active{
    background: green;

}

.form .message{
   margin: 15px 0 0;
   color: aliceblue;
   font-size: 12px;

}

.form .message a{
    color:#4CAF50;
    text-decoration:none ;
}